/Windows/Lab1/StaticNumber/.vs
/Windows/Lab1/StaticNumber/NumberLibrary/x64
/Windows/Lab1/StaticNumber/NumberClient/x64
*.filters
*.user
*.pdb
*.idb
*.obj
*.tlog
*.log
*.ilk
*.recipe

Linux/Lab1/.vscode/
/Windows/Lab2/Windowsh/.vscode
/Windows/Lab2/Windowsh/build
/Windows/Lab2/Thread/build

Linux/Lab2/build/
/Windows/Lab2/Thread/.vscode
/Channel/build
